*{
  font-family: Times;
  /*background-color: #17AED4;*/
  /*background-image: url( "images/salmon-bg.png");*/
  color: black;
}
body{
background-color: #17AED4;
}
h1, h2, h3{
  font-family: 'Goblin One', cursive;
}
h1{
  color: #E81B00;
}
h2{
  color: #1EE816;
  text-shadow: 1px 1px 0px #000000;
}
h3{
  color: #FFFF2B;
  text-shadow: 1px 1px 0px #000000;
  background-color: #68C1E8
}
table{
  border-collapse: collapse;
  width: 50%;
  padding: 3px;
  margin: 10px;
}

table tr:nth-child(even){
  background-color: #E2FFF7;
}
td, th{
  border-width: thin;
  border-style: solid;
  border-color: #C7C5BB;
  text-align: center;
/*  background-color: #68C1E8; */
}
td{
  padding: 10;
}
p{
  font-size: 18px;
}
img{
  -moz-box-shadow: 5px 5px #777777;
  -webkit-box-shadow: 5px 5px #777777;
  box-shadow: 5px 5px #777777;
}
